$header: #024E27;
$footer: #1954AC;
$black: #1E0C0C;
$purple: conic-gradient(from -53.96deg at 48.14% 50%, #6A1997 -36.03deg, #69328B 112.06deg, #6A1997 149.14deg, #743C98 271.85deg, #6A1997 323.97deg, #69328B 472.06deg);
$white: #FFFFFF;
$text-color: #857B7B;
$text-purple: #703098;
$green: #024E27;